.header {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  padding: 20px 0;
  background: red;
}

.header__logo {
  margin: 0 63px 0 0;
  padding: 0;
}
