.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background-color: yellow;
}

.header__button,
.header__button--remove {
  border: blue;
  background-color: blue;
  color: aliceblue;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.header__p {
  min-height: 300px;
  width: 100%;
}
