.header {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  width: 1194px;
  margin: 0 auto;
  padding: 18px 0;
}

.header__logo {
  margin: 0 84px 0 7px;
  padding: 0;
}

.header__logo:hover,
.header__logo:focus-visible {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}
