.sprite {
  display: none;
}

.open-modal {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 5px;
  background-color: inherit;
  border: 2px solid greenyellow;
  cursor: pointer;
}

.open-modal:hover,
.open-modal:focus {
  background-color: yellow;
  outline: none;
}

.open-modal:active {
  background-color: greenyellow;
}

.modal {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border: 5px solid green;
}

.modal__close-button {
  position: absolute;
  top: 27px;
  right: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal__title {
  width: fit-content;
  margin: 0 auto 20px;
}

.modal__upload {
  margin: 0 auto 20px;
}

.modal__button-icon {
  fill: rgba(255, 99, 71, 1);
}

.modal__button-icon:hover {
  fill: rgba(255, 99, 71, 0.5);
}

.modal__nickname-label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: 0 auto 20px;
}

.modal__nickname-title {
  margin: 0 20px 0 0;
  padding: 0;
}

.modal__nickname-input {
  display: block;
  margin: 0;
  padding: 6px;
}

.modal__button-submit {
  display: block;
  margin: 0 auto;
  padding: 6px;
  background-color: aqua;
  border: blue;
  cursor: pointer;
}

/*.modal__ui-slider-box {*/
/*  min-height: 100px;*/
/*  color: white;*/
/*  background-color: blue;*/
/*}*/


/*.invisible {*/
/*  display: none;*/
/*}*/
