@import "header.css";
@import "footer.css";
@import "global.css";
@import "navigation.css";
@import "fonts.css";

.penis {
  width: 200px;
  height: 200px;
  background: orange;
  cursor: pointer;
}

.vagina {
  width: 200px;
  height: 200px;
  background: blueviolet;
  cursor: pointer;
}
